
.top{
    display: flex;
    width: 100vw;
    height: 80px;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}
.titulo{
    display: inline-block;
    font-style: oblique;
    color: aqua;
}
.home>button{
    display: inline-block;
    background-color: black;
    border-radius: 25px;
    border-color: black;
    color: white;
}
.barra_busqueda>input{
    display: inline-block;
    border-radius: 25px;
    padding: 7px 45px;
    width: 50vw;
    background-color: rgb(218, 210, 210);
}
.izquierda{
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}
.matriz{
    margin: 80px 0px 0px 0px;
    columns: 6 320px;
    column-gap: 1px;
    background-color: black;
}
.S{
    outline: 2px solid white;
    outline-offset: -10px;
    border-radius: 15px;
}

@media screen and (min-width: 0px) and (max-width: 420px) {